[Unit]
Description=Smart Recycle Bins Service
After=multi-user.target
 
[Service]
Type=simple
ExecStart=/home/pi/smart-recycle-bins-app/srb/bin/python /home/pi/smart-recycling-bins-app/smart-recycling-bins-repo/monitor.py
 
[Install]
WantedBy=multi-user.target
