[Unit]
Description=Smart Recycle Bins Service
After=multi-user.target
 
[Service]
Type=simple
ExecStart=/home/pi/srb/bin/python /home/pi/smart-recycling-bin/monitor.py
 
[Install]
WantedBy=multi-user.target
