[Unit]
Description=Smart Recycle Bins Service
After=multi-user.target
 
[Service]
Type=simple
ExecStart=/home/pi/smart-recycling-bins-app/srb/bin/python /home/pi/smart-recycling-bins-app/smart-recycling-bins/monitor.py
Restart=always
RestartSec=3
 
[Install]
WantedBy=multi-user.target
